#===============================================================================
#     Template for ansible inventory file
#===============================================================================
---
html:
  hosts: XX.XX.XX.XXX

